.texto-sobre {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
	height: 100%;
    background-color:#E8f1f2;
}

.titulo {
    font-size: 50px;
	font-weight: 600;
	line-height: 50px;
    color: #00A0BF;
	text-align: center;
	margin-bottom: 5rem;
}

.texto-sobre img {
    width: 50%;
	max-width: 1000px;
	height: 100%;
	max-height: 680px;
	padding: 32px;
}

.img-sobre{
	border-radius: 10rem;
}

.texto-sobre p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 20px;
    color: #3f3d56;
	text-align: left;

}

@media (max-width:768px) {
    .texto-sobre {
		padding: 4rem;
		display: flex;
		flex-direction:column;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		height: 100%;
		background-color: #E8f1f2;
	}

	.texto-sobre h3 {
    font-size: 76px;
	font-weight: 900;
	line-height: 78px;
    color: #00A0BF;
	width:90px;
	}

	.texto-sobre p {
		margin-top: 20px;
		font-size: 24px;
		line-height: 34px;
		color: #00A0BF;
	
	}

	.texto-sobre img {
		margin-top: 4rem;
		width: 100%;
		max-width: 1100px;
		height: 100%;
		max-height: 680px;
		align-items: center;
	}
}
